body {
    padding-top: 30px;
    min-width: 920px;
}

input[type=radio],
input[type=checkbox] {
    height: 21px;
}

.input-form-group {
    display: table;
    min-width: 920px;
}

.form-container {
    display: table-cell;
    border-left: 1px solid #D1D2D3;
    text-align: center;
    margin: 0 8px;
}

.label-container {
    text-align: right;
}

.label-container label {
    display: block;
    width: 290px;
}

.label h4 {
    line-height: 20px;
}

.input-form-group label,
.input-form-group input,
.input-form-group .input {
    line-height: 21px;
    margin: 0 8px;
    margin-bottom: 5px;
    padding: 0 4px;
}

.input-form-group .input {
    display: inline-block;
}
.budget-input {
    text-align: right;
    max-width: 100%;
    width: 80%;
}

.engineering-form-section,
.budget-form-section {
    margin-top: 33px;
}